@{
    ViewBag.Title = "GDP";
    Layout = "~/Views/Shared/ContentLayout.cshtml";
}

<h2>GDP (current US$)</h2>
<p>Data Source: <a href="http://data.worldbank.org/" target="_blank">The World Bank</a>
</p>
<p>
GDP at purchaser's prices is the sum of gross value added by all resident producers 
in the economy plus any product taxes and minus any subsidies not included in the 
value of the products. It is calculated without making deductions for depreciation 
of fabricated assets or for depletion and degradation of natural resources. 
</p><p>
Data are in current U.S. dollars. Dollar figures for GDP are converted from domestic 
currencies using single year official exchange rates. For a few countries where the 
official exchange rate does not reflect the rate effectively applied to actual foreign 
exchange transactions, an alternative conversion factor is used.
</p>