@{
    ViewBag.Title = "Shares";
}

<h2>Share</h2>
<p><i>Data Source: <a href="http://finance.yahoo.com/" target="_blank">Yahoo Finance</a></i></p>
<p>
A joint stock company divides its capital into units of equal denomination. Each unit is called a share. 
These units are offered for sale to raise capital. This is termed as issuing shares. 
A person who buys share/shares of the company is called a shareholder, and by acquiring share or shares in the company becomes one of the owners of the company. 
Thus, a share is an indivisible unit of capital. It expresses the proprietary relationship between the company and the shareholder. 
The denominated value of a share is its face value: the total capital of a company is divided into number of shares.

In financial markets, a share is a unit of account for various financial instruments including stocks (ordinary or preferential), 
and investments in limited partnerships, and real estate investment trusts. The common feature of all these is equity participation 
(limited in the case of preference shares).
</p>