@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to Pecunia</h2>

<p>
Pecunia is a demo application which shows typical usage of Codaxy products. Aim of the application is to show how Dextop applications looks like 
and what is the general application architecture. Developers should take a look at the source code to 
see how a typical Dextop application is organized and Pecunia can be used as a template for new applications based
on Ext JS and Dextop.
</p>


