@{
    ViewBag.Title = "Welcome";
}
<h2 class="pecunia">
    pecunia <span class="phono">/pe'ku:.ni.a/</span>
</h2>
<p class="pecunia">
noun (gen. <em>pecuniae</em>)
    <ul class="pecunia">
        <li>money</li>
        <li>wealth</li>
    </ul>
</p>
<p class="pecunia">
    From pecu "cattle" < Proto-Indo-European <em>*pek'us</em>, from Proto-Indo-European 
    <em>*pek'-</em> (“pluck out (hair, wool)”). Cognate with Italian <em>pecora</em>, Germanic 
    <em>fehu</em>, Old English <em>feoh</em>, English <em>fee</em>, German <em>Vieh.</em>
</p>

<span class="source">Source: <a href="http://en.wiktionary.org/wiki/pecunia" target="_blank">Wiktionary</a></span>

<hr class="pecunia" />
<p>
    Welcome to <b>Pecunia</b> &mdash; Codaxy Dextop demo application. 
    Pecunia gives you a peek at what can be accomplished using Dextop; 
    it shows the look-and-feel of Dextop applications. Developers may take a look at the 
    <a href="https://github.com/codaxy/dextop-pecunia" target="_blank">source code</a> 
    to see how a typical Dextop application is organized and they can use this demo as a template for 
    new applications based on Ext JS and Dextop.
</p>
<p>
    Enjoy!
</p>
