/* Welcome panel */

.welcome-navigation-pane
{
    margin: 10px 0px 0px 10px;
    -border: 1px solid #C0C0C0;
    text-align: center;
    float: left;
    width: 128px;
    height: 128px;
    font-family: Verdana;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    background-color: #F6F6F6;
}

.welcome-navigation-pane.x-item-over
{
    background-color: #FFFFB9;
}


.account
{
    background-position: center center;
    background-image: url('icons/account.png');
    background-repeat: no-repeat;
}

.accounting
{
    background-position: center center;
    background-image: url('icons/accounting.png');
    background-repeat: no-repeat;
}

.shares
{
    background-position: center center;
    background-image: url('icons/shares.png');
    background-repeat: no-repeat;
}

.contacts
{
    background-position: center center;
    background-image: url('icons/categories.png');
    background-repeat: no-repeat;
}


.worldbank
{
    background-position: center center;
    background-image: url('icons/home.png');
    background-repeat: no-repeat;
}