<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>   
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/client/css/Content.css")" rel="stylesheet" type="text/css" />  
</head>

<body>
    @RenderBody()
</body>
</html>
