@{
    ViewBag.Title = "CarlosSlim";
}

<h2>Carlos Slim</h2>
<p><i>Source: Wikipedia</i></p>
<p>
Carlos Slim Helú (* 28. Januar 1940 in Mexiko-Stadt) ist ein mexikanischer Unternehmer der Telekommunikationsbranche 
(unter anderen Telmex und América Móvil). Nach Schätzungen des mexikanischen Finanzmagazins Sentido Común verfügte er 
2007 über ein Vermögen von 67,8 Milliarden US-Dollar und war damit der reichste Mensch der Welt. 
Nachdem das Forbes Magazine ihn 2009 mit 35 Mrd. US-Dollar nur noch auf Platz 3 taxierte, stand er 2010 mit 53,5 Mrd. 
US-Dollar und 2011 mit 74,0 Mrd. US-Dollar wieder auf Platz 1. Die Unterschiede in den Vermögensangaben gehen 
vor allem auf Neubewertungen im Zuge der laufenden Finanzkrise zurück.
</p>