@{
    ViewBag.Title = "WarrenBuffet";
}

<h2>Warren Buffet</h2>
<p><i>Source: Wikipedia</i></p>
<p>
Warren Edward Buffett (pronounced /ˈbʌfɨt/; born August 30, 1930) is an American business magnate, investor, and philanthropist.
He is widely regarded as one of the most successful investors in the world. Often introduced as "legendary investor, Warren Buffett",
he is the primary shareholder, chairman and CEO of Berkshire Hathaway. He is consistently ranked among the world's wealthiest people. 
He was ranked as the world's wealthiest person in 2008 and is the third wealthiest person in the world as of 2011.

Buffett is called the "Wizard of Omaha", "Oracle of Omaha" or the "Sage of Omaha" and is noted for his adherence to the value 
investing philosophy and for his personal frugality despite his immense wealth. Buffett is also a notable philanthropist, 
having pledged to give away 99 percent of his fortune to philanthropic causes, primarily via the Gates Foundation. 
He also serves as a member of the board of trustees at Grinnell College.
</p>