body 
{
    background-image: url(images/glossymetal.jpg);
}

.x-panel-body-default 
{
    background: rgba(255, 255, 255, 0.8);
}

#header
{
    padding: 5px;
    color: white;   
    opacity: 0.8;
}

#header h1
{
    font-family: Vivaldi;
    font-size: 35px;
    margin-left: 10px;
    font-family: 'Sunshiney' , cursive;
    color: #FFFF80;
    text-shadow: 2px 2px 2px black;
}

#footer
{
    padding-left: 5px;
    font-family: 'Comic Sans MS';
    /*font-weight: bold;*/
     color: #FFFF80;
    text-shadow: 1px 1px 1px black;
}

/* ------------------------------ Menu Bar ---------------------------------- */

.menu-item
{
	width: 160px;
	height: 55px;
	overflow: hidden;
  	font-size:10px;
	margin:5px;
	cursor: pointer;
	text-align:center;
}

#menu-item-text
{
	font-family: "Comic Sans MS";
	font-size: 12px;
	text-align:center;
}

/* Rich People */

.photo 
{
    max-width: 200px;
    border: 1px solid gray;
}

.photo-holder 
{
    float: left; 
    padding: 10px;
    border: 1px solid gray;
    margin: 0 20px 16px 0;
    background-image: url(images/glossymetal.jpg);
}

.person 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
}

.person td 
{
    padding: 2px;
    vertical-align: top;
}

.prop-header 
{
    text-align: right;   
    padding-left: 10px !important; 
}

.prop-value 
{
    font-weight: bold;
    padding-left: 10px !important; 
}

.person p
{
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 600px;
}
    
.person h1 
{
    font-size: 1.5em;
    /*margin-top: 0.83em;*/
    /*margin-bottom: 0.83em;*/
}

.person h2 
{
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* PDF, Excel, Text */

.pdf 
{
    background-image: url('images/export/pdf.png') !important;
}

.excel
{
    background-image: url('images/export/excel.png') !important;
}

.text
{
    background-image: url('images/export/text.png') !important;
}

/* ------------------- Navigation ---------------------- */

.welcome-navigation-pane
{
    margin: 10px 0px 0px 10px;
    -border: 1px solid #C0C0C0;
    text-align: center;
    float: left;
    width: 128px;
    height: 128px;
    font-family: Verdana;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    background-color: #F6F6F6;
    cursor: pointer;
}

.welcome-navigation-pane.x-item-over
{
    background-color: #FFFFB9;
}


.account
{
    background-position: center center;
    background-image: url('icons/account.png');
    background-repeat: no-repeat;
}

.accounting
{
    background-position: center center;
    background-image: url('icons/accounting.png');
    background-repeat: no-repeat;
}

.shares
{
    background-position: center center;
    background-image: url('icons/shares.png');
    background-repeat: no-repeat;
}

.contacts
{
    background-position: center center;
    background-image: url('icons/categories.png');
    background-repeat: no-repeat;
}


.worldbank
{
    background-position: center center;
    background-image: url('icons/home.png');
    background-repeat: no-repeat;
}

.wallet 
{
     background-position: center center;
    background-image: url('icons/kwallet.png');
    background-repeat: no-repeat;
}