body 
{
    background-image: url(images/glossymetal.jpg);
}

.x-panel-body-default 
{
    background: rgba(255, 255, 255, 0.8);
}

#header
{
    padding: 5px;
    color: white;   
    opacity: 0.8;
}

#header h1
{
    font-family: Vivaldi;
    font-size: 35px;
    margin-left: 10px;
    font-family: 'Sunshiney' , cursive;
    color: #FFFF80;
    text-shadow: 2px 2px 2px black;
}

#footer
{
    padding-left: 5px;
    font-family: 'Sunshiney', cursive;
     color: #FFFF80;
    text-shadow: 1px 1px 1px black;
}

/* ------------------------------ Menu Bar ---------------------------------- */

.menu-item
{
	width: 160px;
	height: 55px;
	overflow: hidden;
  	font-size:10px;
	margin:5px;
	cursor: pointer;
	text-align:center;
}

#menu-item-text
{
	font-family: "Comic Sans MS";
	font-size: 12px;
	text-align:center;
}

